.wrapper {
  margin: 0 auto;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.block {
  text-align: center;
  margin: 1rem 0;
}

.label {
  margin-right: 0.5rem;
}

.input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  width: 10rem;
}

.select {
  width: 11.5rem;
}
